.election {
  width: 100%;
  display: flex;
}



.inputs-container-e{
  width: 70%;
}

.date-exp-picker{
  padding-top: 15px;
 
}

.label-election-insert{
  padding-bottom: 7px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.leftSide-e {
  width: 70%;
  padding-bottom: 4%;
}

.election-dets{
  margin-bottom: 0;
  padding: 0;
}


