.wholeCont {
  width: 100%;
  display: flex;
}

.label-charge{
  padding-bottom: 15px;
}
.butom-charge{
  padding-top: 10px;
}

.right-side {
width: 100%;
  display: flex;
  flex-direction: column;

}
.text-acla{
  width: 80%;
}

.items-contaniener{
  display: flex;
  flex-direction: column;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 70%;
}
